<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/demo_css/devices.min.css" type="text/css">
        <link rel="stylesheet" href="/demo_css/my.css" type="text/css">
        <title>OPHELIUS</title>
    </head>
    <body>
        <div class="marvel-device iphone5s silver">
            <div class="top-bar"></div>
            <div class="sleep"></div>
            <div class="volume"></div>
            <div class="camera"></div>
            <div class="sensor"></div>
            <div class="speaker"></div>
            <div class="screen">
                <!-- Content goes here -->
                <iframe src="/" frameborder="0"></iframe>                    
            </div>
            <div class="home"></div>
            <div class="bottom-bar"></div>
        </div>
        <div class="side">
            <button class="btn btn-lg btn-primary btn-block logo animated bounceInRight" type="submit" style="background:rgba(0, 0, 0, 0.8);"><img src="./img/dong.png"><br>OPHELIUS</button> 
            <h1>TRY DEMO</h1>
            <br>
            <h2>enter username: clabsardegna</h2>
            <h2>and password: clabsardegna</h2>
        </div>

        <!-- Piwik -->
        <script type="text/javascript">
            var _paq = _paq || [];
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="//metrics.ophelius.com/";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', 2]);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <noscript><p><img src="http://metrics.ophelius.com/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
        <!-- End Piwik Code -->


    </body>

</html>