<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Ophelius</title>

    <!--  bootstrap -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

</head>

<body>
    <form action="/seller/login" class="form-signin" method="post">
        <div>
            <label>Username</label>
            <input type="text" class="form-control" name="username">
            <br>
        </div>
        <div>
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>



    <!--   jquery -->
    <script src="/js/jquery.min.js"></script>
    <!--  bootstrap -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- handlebars -->
    <script src="/js/handlebars-v2.0.0.js"></script>
    <!-- ember -->
    <script src="/js/ember.min.js"></script>
    <!-- app -->
    <script src="/js/app_seller.js"></script>
</body>

</html>