<div class="title">
    <a href="#/options">                
        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-circle-arrow-left"></i></button>
    </a>
    <a href="#/main">                
        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-home"></i></button>
    </a>
</div>
<br>
<a ng-click="language('en')">
    <button class="btn btn-lg btn-primary btn-block btn-oy" type="submit" >{{"ENGLISH" | translate}}</button> 
</a>
<a ng-click="language('it')">
    <button class="btn btn-lg btn-primary btn-block btn-oy" type="submit" >{{"ITALIAN" | translate}}</button> 
</a>  
