<a class="left" href="#/services">
    <button class="btn btn-lg btn-primary btn-block categorie animated bounceInUp" type="submit" style="background:rgba(18, 74, 224, 0.7);"><img ng-src="./img/dong.png"><br>{{"ALL_SERVICES" | translate}}</button> 
</a>
<a class="left" href="#/categories">
    <button class="btn btn-lg btn-primary btn-block categorie animated bounceInRight" type="submit" style="background:rgba(100, 100, 255, 0.7);"><img ng-src="./img/dong.png"><br>{{"CATEGORIES" | translate }}</button> 
</a>

<a class="left" href="#/categorie/intern">
    <button class="btn btn-lg btn-primary btn-block categorie animated bounceInDown" type="submit" style="background:rgba(77, 166, 213, 0.7);" ><img ng-src="./img/dong.png"><br>{{"INTERNAL_SERVICES" | translate }}</button> 
</a>
<a class="left" href="#/categorie/extern">
    <button class="btn btn-lg btn-primary btn-block categorie animated bounceInUp" type="submit" style="background:rgba(87, 214, 168, 0.7);"><img ng-src="./img/dong.png"><br>{{"EXTERNAL_SERVICES" | translate }}</button> 
</a>

<a class="left" href="#/options">
    <button class="btn btn-lg btn-primary btn-block categorie animated bounceInDown" type="submit" style="background:rgba(245, 133, 32, 0.7);"><img ng-src="./img/dong.png"><br>{{"OPTIONS" | translate}}</button> 
</a>
